html{
  background-image: linear-gradient(to right,black,red);
  }
#result-design,#moves-design{
  font-size: 23.5px;
  font-weight: bold;
  font-family: 'Mansalva', cursive;
  color:white;
  display: inline-table;
  margin-right: 4rem;
  margin-bottom: -0.5rem;
}
#result-design{
margin-left: 35rem;
}

.grid{
  display:flex;
  flex-wrap:wrap;
  height:500px;
  width:600px;
  margin: auto;
  border: 2px solid black;
  background-color: black;
}
